{% extends 'base.html.twig' %}

{% block body %}
    <div class="container mt-4">
        <h2> Editer </h2>
        <hr>
        {{ form_start(form) }}

        {{ form_rest(form) }}
        <button type="submit" class="float-right btn btn-primary">Envoyer</button>
        {{ form_end(form) }}
    </div>
{% endblock %}